<div class="card">
    <p-table [value]="jobs" 
    [columns]="appService.addJobTitles"  
    [paginator]="true"
    [rows]="5"
    dataKey="JobID"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [lazy]="true" (onLazyLoad)="refreshDataGrid($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>Job ID</th>
                <th>Job Number</th>
                <th>Job Title </th>
                <th>Job Location </th>
                <th>Recruiter Name </th>
                <th>Client Contact Name </th>
                <th>Recruiter Company Name </th>
                <th>Client Name </th>
                <th>Recruiter Phone Number </th>
                <th>Recruiter Company Phone Number </th>
                <th>Client Phone Number </th>
                <th>Recruiter Location </th>
                <th>Client Location </th>
                <th>Recruiter Notes </th>
                <th>Client Notes </th>
                <th>Job Description </th>
                <th>Date Of Submission </th>
                <th>Date Of FollowUp </th>
                <th>Date Of Interview </th>
                <th>Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
            <tr>
                <td><a [routerLink]="['/app-job-details']" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="goToDetailPage(job.JobID.toString())">{{job.JobID}}</a></td>
                <td>{{ job.JobNumber}}</td>
                <td>{{ job.JobTitle }}</td>
                <td>{{ job.JobLocation }}</td>
                <td>{{ job.RecruiterName }}</td>
                <td>{{ job.ClientCompanyContactName }}</td>
                <td>{{ job.RecruiterCompanyName }}</td>
                <td>{{ job.ClientCompanyName }}</td>
                <td>{{ job.RecruiterPhoneNumber }}</td>
                <td>{{ job.RecruiterCompanyPhoneNumber }}</td>
                <td>{{ job.ClientCompanyPhoneNumber }}</td>
                <td>{{ job.RecruiterCompanyLocation }}</td>
                <td>{{ job.ClientCompanyLocation }}</td>
                <td>{{ job.RecruiterNotes }}</td>
                <td>{{ job.ClientNotes }}</td>
                <td>{{ job.JobDescription }}</td>
                <td>{{ job.DateOfSubmission | date: 'MMMM dd, yyyy' }}</td>
                <td>{{ job.DateOfFollowUp | date: 'MMMM dd, yyyy'}}</td>
                <td>{{ job.DateOfInterview | date: 'MMMM dd, yyyy' }}</td>
                <td>
                <button 
                    pButton 
                    pRipple 
                    label="Edit" 
                    class="p-button-primary" [rounded]="true" (click)="goToEditPage(job.JobID)">
                </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="card flex justify-content-center gap-2">
    <p-toast />
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h3>{{messageHeader}}</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-check" label="Ok" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
</div>