<div class="card">
    <p-table [value]="products"    
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>Number</th>
                <th>Recruiter Company Name</th>
                <th>Client Company Name</th>
                <th>Job Location</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Recruiter Phone Number</th>
                <th>Recruiter Name</th>
                <th>Recruiter Phone Number</th>
                <th>Recruiter Notes</th>
                <th>Client Phone Number</th>
                <th>Client Notes</th>
                <th>Date Of Submission</th>
                <th>Date of Follow Up</th>
                <th>Date of Interview</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td><a [routerLink]="['/app-job-details']" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="goToDetailPage(product.id)">{{product.id}}</a></td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

