.background {
 background: #000080;
 color: white;
 position: absolute;
 left: 0px;
 right: 0px;
 top: 0px;
}
.tab {
position: absolute;
bottom:5;
width: 100%;
}

a.tab:hover  {
      color : #000080;
    }
    
