.background {
    background: #22E55E;
    color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  .tab {
    width: 100%;
  }
  
  ::ng-deep a.tab:hover {
    color: #8ffcb0;
  }

  ::ng-deep .p-tabview-title {
    color: #22B500;
  }

  ::ng-deep .p-tabview-panels {
    display: none !important;
  }
  
  ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #22B500;
    border-color:#22B500;
  }

  ::ng-deep span.p-input-icon-left {
    position: relative;
    margin-bottom: 20px;
    left: 80%;
  }