<div class="background">
    <p class="text-center">Dawes Rolls Viewer</p>
    <p-tabView
    >
      <p-tabPanel header="All" [tabIndex]="5"> </p-tabPanel>
      <p-tabPanel header="Choctaw" [tabIndex]="0"> </p-tabPanel>
      <p-tabPanel header="Chickasaw" [tabIndex]="1"> </p-tabPanel>
      <p-tabPanel header="Cherokee" [tabIndex]="2"> </p-tabPanel>
      <p-tabPanel header="Creek" [tabIndex]="3"> </p-tabPanel>
      <p-tabPanel header="Seminole" [tabIndex]="4"> </p-tabPanel>
    </p-tabView>
    <router-outlet />
  </div>
  