.background {
    background: #000080;
    color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  .tab {
    width: 100%;
  }
  
  a.tab:hover {
    color: #000080;
  }
  
  ::ng-deep .p-tabview-panels {
    display: none !important;
  }
  