<div class="card">
    <p-table [value]="_notifications"    
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>Number</th>
                <th>Notification ID</th>
                <th>Notification For</th>
                <th>Recruiter Name</th>
                <th>Recruiter Company Name</th>
                <th>Recruiter Company Location</th>
                <th>Recruiter Phone Number</th>
                <th>Recruiter Company Phone Number</th>
                <th>Client Contact Name</th>
                <th>Client Company Name</th>
                <th>Client Company Location</th>
                <th>Client Company Phone Number</th>
                <th>Notification Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notification>
            <tr>
                <td><a [routerLink]="['/app-notification-details']" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="goToDetailPage(notification.NotificationID.toString())">{{notification.NotificationID}}</a></td>
                <td>{{notification.NotificationID}}</td>
                <td>{{notification.NotificationID}}</td>
                <td>{{notification.RecruiterName}}</td>
                <td>{{notification.RecruiterCompanyName}}</td>
                <td>{{notification.RecruiterCompanyLocation}}</td>
                <td>{{notification.RecruiterPhoneNumber}}</td>
                <td>{{notification.RecruiterCompanyPhoneNumber}}</td>
                <td>{{notification.ClientContactName}}</td>
                <td>{{notification.ClientCompanyName}}</td>
                <td>{{notification.ClientCompanyLocation}}</td>
                <td>{{notification.ClientCompanyPhoneNumber}}</td>
                <td>{{notification.NotificationDate | date: 'MMMM d, y, h:mm:ss a'}}</td>
            </tr>
        </ng-template>
    </p-table>
    
</div>


