:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
    th{
        background-color: #000080;
        color: white;
        font-size: 13.5px;
        min-width: 300px;
        height: 15px;
        font-weight: 400;
    }
    th, td { min-width: 300px; }
}
.search-table-outter { overflow-x: scroll; }



button {
    border-radius: 10px;
  }

