<div class="card">
    <p-table #seminole [value]="listofIndians" 
    [columns]="this._appService?.addIndianTitles"  
    [paginator]="true"
    [rows]="rows"
    [first]="this.first" 
    dataKey="ID"
    styleClass="p-datatable-gridlines" 
    [tableStyle]="{ 'min-width': '50rem' }"
    sortMode="multiple"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [resizableColumns]="true"
    [totalRecords]="this.listofIndians.length"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
    [globalFilterFields]="['ID','Tribe','Page','LastName', 'FirstName', 'MiddleName', 'Suffix', 'Age', 'Year', 'Sex', 'Blood', 'Relationship', 'RollNum', 'Source']"
    (onPage)="pageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="ID">ID  <p-sortIcon field="ID" /></th>
                <th pResizableColumn pSortableColumn="Tribe">Tribe  <p-sortIcon field="Page" /></th>
                <th pResizableColumn pSortableColumn="Page">Page  <p-sortIcon field="Page" /></th>
                <th pResizableColumn pSortableColumn="LastName">LastName  <p-sortIcon field="LastName" /></th>
                <th pResizableColumn pSortableColumn="FirstName">FirstName  <p-sortIcon field="FirstName" /></th>
                <th pResizableColumn pSortableColumn="MiddleName">MiddleName  <p-sortIcon field="MiddleName" /></th>
                <th pResizableColumn pSortableColumn="Suffix">Suffix  <p-sortIcon field="Suffix" /></th>
                <th pResizableColumn pSortableColumn="Age">Age  <p-sortIcon field="Age" /></th>
                <th pResizableColumn pSortableColumn="Year">Year  <p-sortIcon field="Year" /></th>
                <th pResizableColumn pSortableColumn="Sex">Sex  <p-sortIcon field="Sex" /></th>
                <th pResizableColumn pSortableColumn="Blood">Blood  <p-sortIcon field="Blood" /></th>
                <th pResizableColumn pSortableColumn="Relationship">Relationship  <p-sortIcon field="Relationship" /></th>
                <th pResizableColumn pSortableColumn="RollNum">RollNum  <p-sortIcon field="RollNum" /></th>
                <th pResizableColumn pSortableColumn="Source">Source  <p-sortIcon field="Source" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-indian>
            <tr [ngClass]="getRowClass(indian?.LastName)">
                <td><a [routerLink]="['/app-job-details']" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="goToDetailPage(indian?.ID.toString())">{{indian?.ID}}</a></td>
                <td>{{ indian?.Tribe }}</td>
                <td>{{ indian?.Page }}</td>
                <td>{{ indian?.LastName }}</td>
                <td>{{ indian?.FirstName }}</td>
                <td>{{ indian?.MiddleName }}</td>
                <td>{{ indian?.Suffix }}</td>
                <td>{{ indian?.Age }}</td>
                <td>{{ indian?.Year }}</td>
                <td>{{ indian?.Sex  }}</td>
                <td class="redtext">{{ this.calculateBloodPercentage(indian?.Blood) }}</td>
                <td class="orangetext">By {{ indian?.Relationship }}</td>
                <td>{{ indian?.RollNum }}</td>
                <td>{{ indian?.Source }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
