<h3 class="centered-header">Job Details</h3>
<table class="table">
    
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Job Title</td>
        <td>job.JobTitle</td>
        <td></td>
        <td>Job Location</td>
        <td>job.JobLocation</td>
        <td></td>
      </tr>
      <tr class="empty">
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recruiter Name</td>
        <td>job.RecruiterName</td>
        <td></td>
        <td>Client Contact Name</td>
        <td>job.ClientContactName</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recruiter Company Name</td>
        <td>job.RecruiterCompanyName</td>
        <td></td>
        <td>Client Company Name</td>
        <td>job.ClientCompanyName</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recruiter Phone Number</td>
        <td>job.RecruiterPhoneNumber</td>
        <td></td>
        <td>Client Phone Number</td>
        <td>job.ClientPhoneNumber</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recruiter Company Location</td>
        <td>job.RecruiterCompanyLocation</td>
        <td></td>
        <td>Client Company Location</td>
        <td>job.ClientCompanyLocation</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recruiter Notes</td>
        <td>job.RecruiterNotes</td>
        <td></td>
        <td>Client Notes</td>
        <td>job.ClientNotes</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Job Description</td>
        <td>job.JobDescription</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Date Of Submissions</td>
        <td>job.DateOfSubmissions</td>
        <td>Date Of Follow-Up</td>
        <td>job.DateOfFollowUp</td>
        <td>Date Of Interview</td>
        <td>job.DateOfInterview</td>
      </tr>
   
       
      
    </tbody>
  </table>
  <p-button label="Back" (click)="goBackToJobGrid()" />