$display: (
    responsive: true,
    print: true,
    property: display,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none
  );


.firstRow {
    position: relative;
    top: 5%;
  }

  .centered-header {
    text-align: center;
    position:relative;
    bottom: 0.5em;
    color: #000080;
  }

  .empty {
    height: 2.8em;
  }

  :host ::ng-deep .p-button{
   padding-left: 48%;
   padding-right: 48%;
   background-color: #000080;
  }
  
