<h3 class="centered-header">Job Details</h3>
<table class="table">
    
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Job Title</td>
        <td></td>
        <td>Job Location</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="empty">
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recrutier Name</td>
        <td></td>
        <td>Client Contact Name</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recrutier Company Name</td>
        <td></td>
        <td>Client Company Name</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recrutier Phone Number</td>
        <td></td>
        <td>Client Phone Number</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recrutier Company Location</td>
        <td></td>
        <td>Client Company Location</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Recrutier Notes</td>
        <td></td>
        <td>Client Notes</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Job Description</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Date Of Submissions</td>
        <td></td>
        <td>Date Of Follow-Up</td>
        <td></td>
        <td>Date Of Interview</td>
      </tr>
   
       
      
    </tbody>
  </table>
  <p-button label="Back" (click)="goBackToJobGrid()" />