<h3 class="centered-header">Job Details</h3>
<div [className]="'scrollableTable'">
<table class="table">
    <tbody *ngFor="let indian of this.indians" [className]="'verticalScroll'">
      <tr>
        <td><b>Last Name</b></td>
        <td>{{indian.LastName}}</td>
        <td><b>Suffix</b></td>
        <td>{{indian.Suffix}}</td>
        <td><b>First Name</b></td>
        <td>{{indian.FirstName}}</td>
        <td><b>Middle Name</b></td>
        <td>{{indian.MiddleName}}</td>
      </tr>
      <tr>
        <td><b>Sex</b></td>
        <td>{{indian.Sex}}</td>
        <td><b>Age</b></td>
        <td>{{indian.Age}}{{indian.Year}}</td>
        <td><b>ID</b></td>
        <td>{{indian.ID}}</td>
        <td><b>Roll Number</b></td>
        <td>{{indian.RollNum}}</td>
      </tr>
      <tr>
        <td><b>Percentage</b></td>
        <td>{{this.returnPercentage(indian.Blood)}}</td>
        <td><b>Tribe</b></td>
        <td>{{indian.Tribe}}</td>
        <td><b>Relationship</b></td>
        <td>By {{indian.Relationship}}</td>
        <td><b>Page Number</b></td>
        <td>{{indian.Page}}</td>
      </tr>      
    </tbody>
    <tfoot>
      <tr>
        <td><b>Source</b></td>
        <td>{{indian.Source}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      <td><b>Card</b></td>
       <td><img [src]="indian.url" /></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
      </tr>
    </tfoot>
  </table>
  </div>
  <p-button label="Back" (click)="goBackToIndianGrid()" />