<ng-container *ngIf="indian$ | async as person">

  <h3 class="centered-header">Job Details</h3>

  <table class="table">
    <tbody>
      <tr>
        <td><b>Last Name</b></td>
        <td>{{ person.LastName }}</td>
        <td><b>Suffix</b></td>
        <td>{{ person.Suffix }}</td>
        <td><b>First Name</b></td>
        <td>{{ person.FirstName }}</td>
        <td><b>Middle Name</b></td>
        <td>{{ person.MiddleName }}</td>
      </tr>

      <tr>
        <td><b>Sex</b></td>
        <td>{{ person.Sex }}</td>
        <td><b>Age</b></td>
        <td>{{ person.Age }}{{ person.Year }}</td>
        <td><b>ID</b></td>
        <td>{{ person.ID }}</td>
        <td><b>Roll Number</b></td>
        <td>{{ person.RollNum }}</td>
      </tr>

      <tr>
        <td><b>Percentage</b></td>
        <td>{{ returnPercentage(person.Blood) }}</td>
        <td><b>Tribe</b></td>
        <td>{{ person.Tribe }}</td>
        <td><b>Relationship</b></td>
        <td>By {{ person.Relationship }}</td>
        <td><b>Page Number</b></td>
        <td>{{ person.Page }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td><b>Source</b></td>
        <td>{{ person.Source }}</td>
      </tr>
      <tr>
        <td><b>Link</b></td>
        <td>
          <a [href]="person.Link">Roll Number: {{ person.RollNum }}</a>
        </td>
      </tr>
    </tfoot>
  </table>

  <div>
    <section><b>Card</b></section>
    <section>
      <img
        [src]="'assets/' + person.Tribe + '/Images/' + person.TribeRelationship + '/Page' + person.Page + '/' + person.ImageName"
      />
    </section>
  </div>

</ng-container>

<p-button
  pRipple
  label="Back"
  class="p-button-success"
  [rounded]="true"
  (click)="goBackToIndianGrid()">
</p-button>
