<h3 class="centered-header">Job Details</h3>
<div [className]="'scrollableTable'">
<table class="table">
    <tbody *ngFor="let indian of this.indians" [className]="'verticalScroll'">
      <tr>
        <td>Last Name</td>
        <td>{{indian.LastName}}</td>
        <td>Suffix</td>
        <td>{{indian.Suffix}}</td>
        <td>First Name</td>
        <td>{{indian.FirstName}}</td>
        <td>Middle Name</td>
        <td>{{indian.MiddleName}}</td>
      </tr>
      <tr>
        <td>Sex</td>
        <td>{{indian.Sex}}</td>
        <td>Age</td>
        <td>{{indian.Age}}</td>
        <td>Year</td>
        <td>{{indian.Year}}</td>
        <td>Roll Number</td>
        <td>{{indian.RollNum}}</td>
      </tr>
      <tr>
        <td>Percentage</td>
        <td>{{indian.Blood}}</td>
        <td>Tribe</td>
        <td>{{indian.Tribe}}</td>
        <td>Relationship</td>
        <td>{{indian.Relationship}}</td>
        <td>Page Number</td>
        <td>{{indian.Page}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Source</td>
        <td>{{indian.Source}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr [className]="'emptyrowheight'">
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Card</td>
        <td><img [src]="indian.url" /></td>
      </tr>
    
      
    </tbody>
  </table>
  </div>
  <p-button label="Back" (click)="goBackToIndianGrid()" />