<div class="background">
  <p class="text-center">Dawes Rolls Viewer</p>

  <span class="p-input-icon-left span">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      [(ngModel)]="searchInput"
      name="searchInput"
      (input)="filterGlobal(searchInput, 'contains', activeIndex)"
      placeholder="Grid Search Filter"
    />
  </span>

  <p-tabs [value]="activeIndex" [hidden]="isHidden">
    <p-tablist>
      <p-tab [value]="0" (click)="navigate('app-all', 0)">All</p-tab>
      <p-tab [value]="1" (click)="navigate('app-choctaw', 1)">Choctaw</p-tab>
      <p-tab [value]="2" (click)="navigate('app-chickasaw', 2)">Chickasaw</p-tab>
      <p-tab [value]="3" (click)="navigate('app-cherokee', 3)">Cherokee</p-tab>
      <p-tab [value]="4" (click)="navigate('app-creek', 4)">Creek</p-tab>
      <p-tab [value]="5" (click)="navigate('app-seminole', 5)">Seminole</p-tab>
    </p-tablist>
  </p-tabs>

  <router-outlet></router-outlet>
</div>