<div class="background">
    <p class="text-center">Dawes Rolls Viewer</p>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" [(ngModel)]="this.searchInput" name="searchInput" (input)="filterGlobal(this.searchInput, 'contains', this.activeIndex)" placeholder="Global Search" />
  </span>
    <p-tabs
    [hidden]="isHidden"
    (onChange)="handleChange($event)"
    [tabindex]="0"
    >
      <p-tabpanel header="All" [tabIndex]="5"> </p-tabpanel>
      <p-tabpanel header="Choctaw" [tabIndex]="0"> </p-tabpanel>
      <p-tabpanel header="Chickasaw" [tabIndex]="1"> </p-tabpanel>
      <p-tabpanel header="Cherokee" [tabIndex]="2"> </p-tabpanel>
      <p-tabpanel header="Creek" [tabIndex]="3"> </p-tabpanel>
      <p-tabpanel header="Seminole" [tabIndex]="4"> </p-tabpanel>
    </p-tabs>
    <router-outlet />
  
  
  </div>
