<div class="card">
    <p-table [value]="titles == undefined ? [] : titles"  [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Edit Job Applied For</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template [formGroup]="this.addJob"  pTemplate="body" let-titles>
            <tr>
                <td>{{ titles.titleName}}</td>
                <td *ngIf="isNotNotes(titles.titleName); then thenBlock else elseBlock" ></td>
                <ng-template #thenBlock><td><input type="text" pInputText id="{{titles.titleName}}" formControlName="{{titles.formName}}" /></td></ng-template>
                <ng-template #elseBlock>
                    <td *ngIf="isNotADatePicker(titles.titleName); then thenBlock else elseBlock" ></td>
                    <ng-template #thenBlock><td><textarea rows="5" cols="30" pInputTextarea formControlName="{{titles.formName}}"></textarea></td></ng-template>
                    <ng-template #elseBlock><td><p-calendar dataType="string" [inline]="false" dateFormat="MM, dd, yyyy" (onSelect)="onDateChanged()" placeholder="Click here to enter date" formControlName="{{titles.formName}}" />
                    </td></ng-template>
                </ng-template>
            </tr>
        </ng-template>
    </p-table>
</div>
<button
                pButton 
                label="Submit" 
                class="p-button-success" [rounded]="true" (click)="save(addJob)">
            </button>
<button pButton 
pRipple 
label="Back" 
class="p-button-primary" (click)="goBackToJobGrid()">
</button>
<div class="card flex justify-content-center gap-2">
    <p-toast />
    <p-confirmDialog />
</div>