<div class="card">
    <p-table [value]="_jobs" 
    [columns]="_appService?.addJobTitles"  
    [paginator]="true"
    [rows]="5"
    dataKey="JobID"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [totalRecords]="this._jobs.length"
    (onPage)="pageChange($event)">
        <ng-template pTemplate="header">
            <tr>
                <td>Job ID</td>
                <td>Job Number</td>
                <td>Job Title </td>
                <td>Job Location </td>
                <td>Recruiter Name </td>
                <td>Client Contact Name </td>
                <td>Recruiter Company Name </td>
                <td>Client Name </td>
                <td>Recruiter Phone Number </td>
                <td>Recruiter Company Phone Number </td>
                <td>Client Phone Number </td>
                <td>Recruiter Location </td>
                <td>Client Location </td>
                <td>Recruiter Notes </td>
                <td>Client Notes </td>
                <td>Job Description </td>
                <td>Date Of Submission </td>
                <td>Date Of FollowUp </td>
                <td>Date Of Interview </td>
                <td>Remove</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
            <tr>
                <td><a [routerLink]="['/app-job-details']" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="goToDetailPage(job.JobID.toString())">{{job.JobID}}</a></td>
                <td>{{ job.JobNumber}}</td>
                <td>{{ job.JobTitle }}</td>
                <td>{{ job.JobLocation }}</td>
                <td>{{ job.RecruiterName }}</td>
                <td>{{ job.ClientCompanyContactName }}</td>
                <td>{{ job.RecruiterCompanyName }}</td>
                <td>{{ job.ClientCompanyName }}</td>
                <td>{{ job.RecruiterPhoneNumber }}</td>
                <td>{{ job.RecruiterCompanyPhoneNumber }}</td>
                <td>{{ job.ClientCompanyPhoneNumber }}</td>
                <td>{{ job.RecruiterCompanyLocation }}</td>
                <td>{{ job.ClientCompanyLocation }}</td>
                <td>{{ job.RecruiterNotes }}</td>
                <td>{{ job.ClientNotes }}</td>
                <td>{{ job.JobDescription }}</td>
                <td>{{ job.DateOfSubmission | date: 'MMMM dd, yyyy' }}</td>
                <td>{{ job.DateOfFollowUp | date: 'MMMM dd, yyyy' }}</td>
                <td>{{ job.DateOfInterview | date: 'MMMM dd, yyyy' }}</td>
                <td>
                    <button
                    pButton 
                    pRipple 
                    label="Remove" 
                    class="p-button-danger" [rounded]="true" (click)="remove(job.JobID)">
                </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="card flex justify-content-center gap-2">
    <p-toast />
    <p-confirmDialog />
</div>